:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.exemple-wrapper{
    font-family: "Work Sans";
}

.bloc_header_pre {
    background: linear-gradient(0.25turn, #fff, var(--orange-pale));
    width:100%;
}

.accueil_pourquoi > p {
    padding-top: 2px;
    margin: 0 auto;
    font-weight: normal
}

.bloc_header {
    background: linear-gradient(0.25turn, #fff, var(--orange-pale));
    width:100%;
    height: 150px;
}

.header_title {
    font-size: 2.5rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
}

/* 1er BLOC - vérifier votre éligibilité*/

.bloc1 {
    background-color: white;
    min-height: 590px;
    max-width:100%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.questions {
width: 100%
}
.questions > div{
    margin: 5%;
}

.card {
    min-height:5vh !important;
}

.card-body {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: var(--bleu-pale) !important;
    border-top:none !important;
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
}

.card-body p {
    color: var(--bleu_perso) !important;
}

.btn:hover {
    color: var(--bleu_perso) !important;
}

.question{
    width: 100% !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: var(--bleu-pale) !important;
    padding: 2.5% !important;
    text-align: left !important;
    left: 5% !important;
    color: var(--bleu_perso) !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.17 !important;
    letter-spacing: normal !important;
}

.question > span{
    float: right;
    right: 5%;
    font-size: 26px;
    font-weight: 700;
}

.bloc_header_pre > div a:link, .bloc_header_pre > div a:visited{
    color: var(--orange_perso);  
}



/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){
    body {
        font-family: 'Work Sans', sans-serif;
    }

    .header_title {
        font-size: 35px; !important;
    }

    .bloc1 {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    .question{
        font-size: 15px !important;
    }


}

/* **************  POUR TABLETTE  ********************* */
@media (min-width: 768px) and (max-width:991.98px){ 
    body {
        font-family: 'Work Sans', sans-serif;
    }
    
    .header_title {
        font-size: 2.5rem !important;
    }

    .bloc1 {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

}