:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}


html, body, div, header, main, .row, .container-fluid, footer  {
    margin:0;
    padding:0;
}


main{
    position: relative;
}

body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    min-height:960px;
}

/* HEADER */
header {
    flex-wrap:wrap;
    min-height: 128px;
}

.bloc_header {
    height: 198px;
}
.bloc_header_pre{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--orange-pale);
    height: 51px;
}

.bloc_header, .bloc_header_pre{
    text-align: center;
    display: table;
}

.bloc_header > h1, .bloc_header_pre > div{
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -1.5px;
}

.bloc_header_pre > div {
    color: var(--orange_perso);
    font-weight: bold;
    font-family: "Work Sans";
    line-height: 1.71;
    letter-spacing: 0.35px;
}

.header_title {
    text-align: center;
    color: var(--orange_perso);
    font-weight: 600;
    font-family: "Work Sans";
    font-size: 60px;
}

/************** fin header ***********************/

/* messages pour utilisateur */

.notices{
    position: fixed;
    bottom: 40px;
    opacity: 0.5;
}

.flash-notice{
    width: 400px;
    height: 100px;
    padding: 30px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.flash-success{
    background-color: var(--bleu_perso);
    color: #fff;
}

.flash-warning{
    background-color: var(--orange_perso);
    color: #fff;
}

.flash-notice > span{
    float: right;
}

/**************** fin message pour utilisateur  ******************/

/* style bouton */
.compte_button, .demande_button{
    border-style: none;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 5%;
    vertical-align: middle;
    /* centrage horizontal */
    
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-align: center;
    width: 85%;
    height: 80px;
}

.demande_button{
    text-transform: uppercase;
    background-color: var(--orange_perso);
    color: #fff;    
}

.compte_button{
    text-transform: uppercase;
    background-color:#fff;
    color: var(--bleu_perso);
}

.orange_button{
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 12.5px;
    background-color: var(--orange_perso);
    color: #fff;
    border-style: none;
    border-radius: 40px;
}

.blue_button{
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 12.5px;
    background-color: var(--bleu_perso);
    color: #fff;
    border-style: none;
    border-radius: 40px;
}

.whiteo_button{
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 12.5px;
    color: var(--orange_perso);
    background-color: #fff;
    border: solid 1px var(--orange-pale);
    border-radius: 40px;
}
/***************** fin style bouton ****************/

.header1 {
    display:flex;
    width: 100%;
}

#mobile {
    visibility: hidden;
}

#desktop {
    visibility: visible;
}



.toggle {
    width: 20%;
    margin-top: 40px;
}

.togglemenu {
    display:block;
    width : 20%;
    height: 55px;
    margin-left:auto;
    margin-right:auto;
}


.compte_client {
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.logo {
    width : 50%;
    min-height: 50px;
    text-align:center;
}

.logo a {
    text-decoration: none;
    font-family: "Work Sans";
    color: #EB5B34;
}

.logo a > p  {
    font-size: 30px;
    width: 85%;
    min-height: 50px;
}

.recup_argent {
    width: 15%;
    margin:auto;
}

.menu {
    width : 75%;
    min-height: 50px;
    text-align:center;
    padding-top: 15px;
}

.menu ul li  {
    display:inline;
    margin-left: auto;
    margin-right:auto;
}

.menu ul li a {
    text-decoration: none;
    color : #000;
    font-size: 1em;
    font-weight: bold;
    margin-right: 5%
}

#myBtn {
    color: white;
    padding: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    font-family: "Work Sans";
}

#myBtn a {
    color : #fff
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.menu2 {
    display:none;
}

.menu2 > ul {
    display:none;
}



/**************RAJOUT CSS A RANGER**************/
/* Import Sanatize to reset browser defaults - Short URL(http://srt.lt/Q6P0nY) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css');

/* Import Roboto and Roboto-slab from Google Fonts - Short URL (http://srt.lt/b4tY7) */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300');

/* Import Font Awesome - Short URL (http://srt.lt/p2b4) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*,
*::before,
*::after {
	box-sizing: border-box; /* Put padding on the inside of elements */
}

body {
	font-family: 'Work sans';
	font-size: 16px; /* Our base font-size */
	line-height: 1.75; /* Line height assumes an almost rem value but is dynamic to the font-size */
	font-weight: 600; /* Use the included weight */
	color: #332F21; /* Don't use black it's too harsh */
	
}

@supports(background-blend-mode: multiply) { /* Use a blend mode on the background in browser that support it */

	/* The flex properties of the card header, footer and body allows the footer to always be at the bottom of the container */

	.card__title {
		margin-top: 0; /* Remove margin as there are no elements above it */
	}

@media only screen and (min-width: 53rem) { /* 848px Base-spacing-unit * 30 */

	.card {
		flex-direction: row; /* Align items along the horizontal axis */
		min-height: 60vh;
	}

		.card__image-container {
			flex: 0 1 45%; /* Don't grow, do shrink, 45% width (basis) */
			max-height: inherit; /* Reset the max-height set for mobile */
		}

		.card__contents {
			flex: 1 1 55%; /* Grow, Shrink, 55% width */
			padding: 3rem; /* Increase padding now we have more space to play with*/ 
        } 
}

.entete_menu_open {
    width:100%;
    display:block;
    
}

.logo_h_entete {
    width: 100%;
    margin-top: 20px
}

/*.bas {
    display:block;
    width:100%
}*/

/* .compte_h_entete {
    width: 100%;
    margin-top: -25px;
} */

.recup_argent_h_entete {
    width: 100%;
    position: center
}

.trait_menu1, .trait_menu2 {
    background-color: #2800dc;
    height:1.5px;
    width: 3%;
    border:none
}

.title_reseau {
    margin-top: 20px;
}

.title_reseau > p {
    color:#ff3c00
}

.logo_reseau_menu {
    width:100%;
    display:flex;
}

.fb_orange, .twitter_orange, .insta_orange, .linkedin_orange {
    width: 25%
}

/*
	Start New Code For Menu
*/

/* Menu Button */

.menu-button {
	display: flex; /* Display flex to center the menu icon in the button */
	justify-content: center; /* Align horizontally */
	align-items: center; /* Align vertically */

	width: 4rem; /* Button width */
	height: 4rem; /* Button height */
	border-radius: 50%; /* Make the button a circle */
	background-color: rgba(255,255,255,0.4); /* Make the background white and semi-transparent */
	cursor: pointer;

	transition: background-color 500ms ease-in-out; /* Add transition for the background-color */
}

.card__image-container .menu-button {
	margin: 1.5rem;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
    background-color: #2800dc; /* On hover, transition the background-color and transparency */
}

.menu-icon {
	position: relative; /* Give the menu-icon position relative so we can absolutely position children */
    width: 2rem; /* Icon width */
	height: 1.5rem; /* Icon height */
}

.menu-icon span {
    position: absolute; /* Absolutely position all children of the menu-icon */
    height: 0.125rem; /* Height of each line in our menu button */
    width: 100%; /* With of each line */
    background-color: #2800dc; /* Background colour of each line */
    transition: background-color 500ms ease-in-out; /* Transition added for the background colour */
}

.menu-icon span:nth-child(1) {
    top: 0.0625rem; /* Position the first line roughly 1px from the top */
}

.menu-icon span:nth-child(2) {
    top: 0.625rem; /* Position the second line roughly 10px from the top, one on top of the other */
}

.menu-icon span:nth-child(3) {
    top: 1.25rem; /* Position the fourth line roughly 20px from the top */
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
    background: white; /* On hover, make the background-color of the menu icon white */
}

/* Turn the Menu icon into a close icon  */

.menu-icon.is-active span:nth-child(1) {
    opacity: 0; /* Hide the first line */
}

.menu-icon.is-active span:nth-child(2) {
    transform: rotate(45deg); /* Rotate the second line 45 degrees */
}

.menu-icon.is-active span:nth-child(3) {
	top: 0.625rem; /* Position the third line over the second line */
    transform: rotate(-45deg); /* Rotate the third line -45 degrees */
}

/* Fullscreen Menu */

.fullscreen-menu-container {
	position: fixed; /* Fix the menu to the viewport */
	top: 12.5rem; /* Add the top value to allow the element to animate up over */
	left: 0; /* Position to the left of the viewport */
	z-index: 5; /* Add z-index to make sure the element is always above everything else */
	width: 100vw; /* Cover the whole width of the viewport */
	height: 105vh; /* Cover the whole height of the viewport */
	overflow: scroll; /* Allow scrolling when the content is larger than the viewport */

	background-color: rgb(255, 255, 255); /* Semi-transparent white background for the menu-overlay */

	opacity: 0; /* Apply 0 transparency to hide the overlay on load */
	pointer-events: none; /* Stop the elements in the menu-container from being clicked */

	transition: top 500ms ease-in, opacity 300ms ease-in; /* Transition the top and opacity */
}

.fullscreen-menu-container.is-open {
	opacity: 1; /* Transition opacity from 0 to 1 */
	top: 0; /* Transition to the top of the viewport */
	pointer-events: auto; /* Re-add pointer events to elements can be clicked again */
}

.fullscreen-menu-container .menu-button {
	position: absolute; /* Position the button absolutely to the image-cotainer */
	top: 1.5rem; /* Position button from the top */
	right: 1.5rem; /* Position button from the left */
}

.fullscreen-menu {
	text-align: center; /* Apply text-align center to all children */
	max-width: 62rem; /* Maximum width of the content */
	padding: 6rem 2rem 4rem; /* Add padding to the content, large at the top to allow for the close button */
	width: 100%; /* Where it can, stretch to the max-width otherwise, the full viewport */
}


	.fullscreen-menu__nav {
		margin: 3rem 0; /* Apply top and bottom margin of the navigation */
	}

	.fullscreen-menu__nav ul {
		list-style: none; /* Remove the dots from list items */
		margin: 0; /* Remove defualt margin */
		padding: 0; /* Remove default padding */
	}

	.fullscreen-menu__nav ul li a {
		display: block; /* Span the whole width */
		font-size: 1.8rem; /* Increase the default font size */
		color: #2800dc; /* Apply light grey colour */
		text-decoration: none; /* Remove default underline */
        transition: color 300ms ease-in; /* Add transition for the colour on hover */
        font-weight: bold;
	}

	.fullscreen-menu__nav a:hover,
	.fullscreen-menu__nav a:focus,
	.fullscreen-menu__nav a:active {
		color: #2800dc; /* Darken the text colour on hover */
	}

	
    
@media only screen and (min-width: 46rem) { /* 736px When the viewport is large enough */

	.fullscreen-menu-container {
		display: flex; /* Add display flex to the container */
		justify-content: center; /* Align menu contents to the center horizontally */
		align-items: center; /* Align menu contents to the center vertically */
	}

	.fullscreen-menu {
		padding: 0;
	}

	.fullscreen-menu__nav {
		margin: 4rem 0; /* Increase the margin between the navigation and other elements in the menu */
	}

		.fullscreen-menu__nav ul {
			justify-content: space-between; /* Share the available space between the list items */
        }

        .entete_menu_open {
            width:100%;
        }
    
        .logo_h_entete {
            width: 100%;
            padding-top: 50px;
                  
        }

        /*.bas {
            width:100%
        }*/
        
       /* .compte_h_entete {
            width: 50%;
            text-align:right
        } */
        
        .recup_argent_h_entete {
            width: 100%;
            text-align:center
        }

        .logo_reseau_menu {
            width: 40%;
            justify-content: space-between;
            margin-left:auto;
            margin-right:auto;
            
        }
}

/**************FIN RAJOUT CSS A RANGER**************/




/* MAIN */
main {
    min-height: 960px;
}


.title_qui {
    text-align:center;
}

.qui_sommes_nous {
    width: 60%;
    margin:0 auto
}

.la_presentation {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}   

.presentation {
    width: 40%;
    min-height: 450px;
    margin: 25px auto;
}


#paragraph_id1, #paragraph_id2, #paragraph_id3, #paragraph_id4 {
    width:80%;
    font-size: small;
    margin-left:auto;
    margin-right:auto;
    height:30px;
    color:red;
	display: none;
}

.categorie_2, .choisir_enseigne_2, .date_achat_2, .prix_article_2 {
    display:flex
}

/*.label_2 {
    margin-right: 6px
}

.question_2 .btn  {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:none;
    font-family: 'Georgia', sans-serif; 
}*/

.msg {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}



.msg {
    width: 40%;
    height: 40px;
    color: green;
    text-align:center
}


.title_avis_clients {
    text-align:center;
    width: 100%;
}

/* FOOTER - reseaux sociaux + infos site*/

footer {
    margin-bottom: 0 !important;
    margin-top: 5%;
}

.footer_bleu {
    margin-bottom: 0 !important
}

.footer_bleu {
    background-image: url("../img/footer/footer.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 450px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.title_reseau, .sous_title_reseau, .list_footer ul li a, .copyright p {
    color:#e1def9
}

.list_footer ul li a {
    text-decoration: none;
}

ul {
    list-style: none
}

.list_footer ul li::before {
    content: "•"; 
    color: #ff3c00;
    display: inline-block; 
    width: 1em;
    margin-left: -2.25em
}

.trait_footer {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin:0;
    padding:0;
}

.copyright p {
    font-size: 14px;
    font-style:normal;
    font-weight:300;
    height:35px;
}


/*.reseaux_sociaux {
    margin-left: auto;
    margin-right:auto;
    display:flex;
    width:10%;
}
.reseaux_sociaux > div {
    margin: auto;
    color : #fff
}
.reseaux_sociaux .fb :hover {
    transition: 1s;
    fill: #0000CD;
    opacity: 1;
}
.reseaux_sociaux .insta :hover {
    transition: 1s;
    fill: #DC143C;
    opacity: 1;
}
.reseaux_sociaux .twitter :hover {
    transition: 1s;
    fill: #14addc;
    opacity: 1;
}
.infos_site {
    width: 100%;
}
.infos_site > p  {
    margin-top: 20px;
    font-size : 14px;
    color: #fff;
}
.infos_site > p > a {
    color : #fff;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}
.infos_site > p :hover {
    text-decoration: underline;
}*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menu_profil {
    width : 75%;
    min-height: 30px;
    margin: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.menu_profil ul li  {
    display:inline-block;
    margin-top: 5px;
    margin-left: auto;
    margin-right:auto;
}

.menu_profil ul li a {
    text-decoration:underline;
    color : #000;
    font-size: 1em;
    font-weight: bold;
    margin-right: 5%
}

.menu_profil ul li a.active {
    pointer-events: none;
    cursor: default;
    color: blue;
  }

.recap{
    margin: 5%;
    width: 70%;
    margin-top: 20px;
}

.boxed{
    margin: 5%;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;    
}

.share > div {
    margin: auto;
    color : #3d3d3d99
}

label.error{
    font-size: small;
    color:red;
    margin-bottom: 20px;
    margin-top: 5px;
}

label{
    margin-top: 20px;
}

    
input.error, select.error{
    border-color:red;
    border-width: 2px;
    border-radius: 2px;
    background-color: #F08080;
    
}

.inline{
    display: inline
}

.fixed_top{
    margin: auto;
    position: fixed;
    top: 20;
}

.fbar-toggle {
    z-index:3;
}

.navbar{
    background-color: white;
}

.container{
    margin: auto;
    max-width: 1200px;
}

.title_reseau > h5 {
    font-size: 22px;
    font-style:normal;
    font-weight:300;
    height:28px;
}

.sous_title_reseau > h4 {
    font-size: 22px;
    font-style:normal;
    font-weight:500;
    height:35px;
}

.list_footer ul li a {
    font-size: 12px;
    font-style:normal;
    font-weight:normal;
    height:17px;
}




/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){
    body {
        font-family: 'Work Sans', sans-serif;
    } 

    .navbar-brand > img {
        width: 200px !important;
        
    }

    .bloc_header_pre > div {
        font-size: 12px;
    }

    .header_title{
        font-size: 30px;
    }

    #desktop {
        visibility: hidden
    }

    #mobile {
        visibility: visible
    }

    .second_menu {
        width:100%;
        display:flex;
    }

    .navbar-brand > img {
        position: relative; /* Give the menu-icon position relative so we can absolutely position children */
    width: 7.8rem; /* Icon width */
    height: 1.8rem; /* Icon height */
    margin-top: 30px
    }

    .fullscreen-menu__nav ul li a {
        font-size: 20px
    }

    .title_reseau {
        display:none;
    }

    .fullscreen-menu-container {
        min-height: 75vh; /* Cover the whole height of the viewport */
    }

    .logos_reseau {
        margin-top: 50px
    }
 }

/* **************  POUR TABLETTE  ********************* */
@media (min-width: 768px) and (max-width:1024.98px){ 
    body {
        font-family: 'Work Sans', sans-serif;
    } 

    #desktop {
        visibility: visible
    }

    #mobile {
        visibility: hidden
    }

    .logo_h_entete {
        width: 100%;
    }

    .fullscreen-menu-container .js-menu-container .is-open {
        min-height: 300px
    }

    .fullscreen-menu-container {
        height: 55vh;
    }
    
}