:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* BLOC 0*/
.bloc0 {
    background: linear-gradient(0.25turn, #fff, var(--orange-pale));
    width:100%;
    height: 45px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--orange-pale);
} 

.bloc0 > p {
    text-align:center;
    color:#ff3c00;
    padding-top:6px;
    margin:0 auto;
    
}

.bloc0 > p > a {
    color:#ff3c00;
    text-decoration: none;
    margin:0 auto;
}

/* BLOC 1*/
.bloc1 {
    background: linear-gradient(0.25turn, #fff, var(--orange-pale));
    width:100%;
    height: 150px;
}

.bloc1 h1 {
    color: #ff3c00;
    margin-top: 30px;
}

/* BLOC 1BIS*/
.bloc1bis {
    height: 773px;
    max-width:100%;
}

.bloc1bis h2 {
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.63px;
    text-align: center;
    color:#2800dc;
}

.title_occupe {
    margin-top: 30px
}

.title_occupe2 {
    font-weight: bold
}

.partie1 {
    width: 70% !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

.partie1 h4, .partie2 h4 {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color:#2800dc;
    
}

.partie1 p, .partie2 p {
    color:#2800dc;
}

.partie2 {
    width: 50% !important;
    margin-left:auto !important;
    margin-right:auto !important;
}


/* BLOC 2 */


.bloc2_left {
    background-image: url("../img/parcours_decouverte/comment/masque17.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left ;
    height: 447px;
    max-width:50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bloc2_right {
    background: linear-gradient(0.25turn, var(--bleu-pale), #fff);
    height: 447px;
    max-width: 50%;
}

.bloc2_right h4 {
    margin-top: 90px;
    margin-left: 40px;
    width: 70%; 
    color:#2800dc 
}

.bloc2_right p {
    color:#2800dc;
    margin-left: 40px;
    width: 70%;
}


/* BLOC 3 */
.bloc3 {
    height: 550px;
}

.bloc3 h4 {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
}

.title_quels_achats {
    margin-top : 60px;
    color:#ff3c00;
}

.quels_achats {
    font-weight: bold;
}

.lignes {
    width:70% !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

.electronique {
    background-image: url("../img/parcours_decouverte/comment/electronique.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width:100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.sante_beaute {
    background-image: url("../img/parcours_decouverte/comment/beaute.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.maison_jardin {
    background-image: url("../img/parcours_decouverte/comment/maison.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.mode_sport {
    background-image: url("../img/parcours_decouverte/comment/mode.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.elec, .sante, .maison, .mode {
    position:relative;
    color:#fff;
    z-index:5;
    font-weight: 500;
    font-size : 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    margin-top: 75px
}



/* BLOC 4 */
.bloc4 {
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background:url("../img/accueil/encart_cta.png") no-repeat top center;
    position:relative;
    max-width:100%;
    height:500px;
    z-index:1;
    margin-top: 80px
}

.encart_title, .encart_1, .encart_2  {
    position:relative;
    color:white;
    z-index:10;
}

.encart_title {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

.encart_1, .encart_2 {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
}


/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){
    body {
        font-family: 'Work Sans', sans-serif;
    }

    .bloc1 {
        height: 180px;
    }

    .bloc1 h1 {
        font-size: 35px
    }
    
    .bloc1bis {
    min-height: 1600px;
    }

    .title_occupe h2 {
        font-size: 28px
    }

    .partie1 {
        width: 100% !important;
    }

    .partie1 p {
        font-size: 14px
    }
    
    .partie2 {
        width: 100% !important;
    }

    .partie2 p {
        font-size: 14px
    }


    .bloc2_left {
        max-width:100% ;
        height: 247px;
    }

    .bloc2_right {
    background-position: center ;
    height: 250px;
    max-width:100%;
    margin-bottom: 40px
    }

    .bloc2_right h4, .bloc2_right p {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%
    }

    .bloc2_right p {
        font-size: 14px
    }

    .bloc2_right h4 {
        font-size: 18px
    }

    .une_marge {
        display:none
    }

    .bloc3 {
        margin-top : 30px;
        height: 850px;
        
    }

    .title_quels_achats {
        margin-top : 10px;
        width: 100%
    }

    .lignes {
        width:100% !important;
        margin-right: 25px !important;
        
    }

    .electronique, .sante_beaute, .maison_jardin, .mode_sport {
        margin-left : 25px;
        height: 150px;
    }

    .elec, .sante, .maison, .mode {
        position:relative;
        color:#fff;
        z-index:5;
        font-weight: 500;
        font-size : 25px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        margin-top: 50px
    }

    .encart_cta {
        margin-top: 40px;
        height: 500px
    }

    .encart_title h3 {
        font-size: 23px
    }
    
    .encart_1, .encart_2 {
        line-height: 1;
    }

    .encart_bouton {
        width: 250px;
        height: 30px;
        margin: auto;
    }

 }



/* **************  POUR TABLETTE  ********************* */
@media (min-width: 768px) and (max-width:991.98px){ 
    body {
        font-family: 'Work Sans', sans-serif;
    }
    
    .bloc1bis {
        height: 800px;
        max-width:100%;
    }
    .partie1 {
        width: 90%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .partie2 {
        width: 70%;
        margin-left:auto;
        margin-right:auto;
    }

    .bloc2_left {
        max-width:100%;
        height: 347px;
    }

    .bloc2_right {
        background-position: center ;
        height: 347px;
        max-width:100%;
    }

    .bloc2_right h4 {
        margin-top: 60px;
        margin-left: 40px;
        width: 70%; 
        color:#2800dc 
    }
    
    .bloc2_right p {
        color:#2800dc;
        margin-left: 40px;
        width: 90%;
    }

}