body {
    font-family: 'Work Sans', sans-serif;
}

.bloc1 {
    background-image: url("../img/parcours_decouverte/Groupe\ 268.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center ;
    height: 555px;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.entete {
    margin-left: auto;
    margin-right: auto;
    
}

.piece_or > img {
    margin-top: 14%;
    margin-left: 45%;
    
}

.grand_title {
    width:70%;
    margin-top: 20%;
    
}

.grand_title > h1 {
    color:#2800dc;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    margin-top: 95px;
}

.piece_or_mobile {
    display:none;
}

.recup_mon_argent {
    width: 100%;
    min-height: 300px;
}

.recup_mon_argent_button {
    margin-top: 5%;
    text-align:left;
}

.bloc1bis {
    height: 450px;
    width:100%;
}

.texte_plus_avoir {
    width: 40%;
}

.texte_plus_avoir h2, .texte_plus_avoir p {
    color:#2800dc;
}

.plus_avoir {
    font-weight: 600;
}

.texte_plus_avoir h2 {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.texte_plus_avoir p {
    font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.comment_ca_marche .row {
    margin-top: 50px;
    width: 100%;
    min-height: 300px;
}

.assis_mobile {
    display:none;
}

.bloc2 {
    background-image: url("../img/parcours_decouverte/rectangle25.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    height: 640px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.img_carre1 {
    background-image: url("../img/accueil/img_carre1.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center ;
    height: 350px;
    width:350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.img_carre1 > .emoji, 
.img_carre1 > .title_emoji, 
.img_carre1 > .text_emoji {
    text-align: center;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

.emoji > img {
    margin-top:30px;
}

.title_emoji > h4 {
    margin-top:20px;
    font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color:#2800dc;
}

.text_emoji > p {
    margin-top:20px;
    font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color:#2800dc;
}

.mission_hedee_button {
    width: 25%;
    margin-left:auto;
    margin-right:auto;
}

.mission_hedee_button a img {
    width: 100%;
}

.sous_title h2, .petit_title h3, .petit_title_1 h3, .petit_title p  {
    color:#2800dc;
}

.sous_title > h2 {
    font-size : 30px
}

.sous_title_rbst {
    font-weight: 600;
}

.petit_title h3 {
    font-size : 23px;
    font-stretch: normal;
}

.petit_title p {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
   
}

.bloc3 {
    height: 880px;
    max-width: 100%;
}

.sous_title_utiliser {
    font-weight: 600;
}

.version_mobile {
    display:none
}

.petit_title {
    margin-right : 35px;
}

.bloc4 {
    background-image: url("../img/parcours_decouverte/Rectangle\ 32.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 500px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.age {
    color:#ff3c00
}

.bloc5 {
    background-image: url("../img/parcours_decouverte/Rectangle\ 32.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    height: 300px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.partenaires > div {
    margin-right: 50px
}

.bpi_mobile {
    display:none;
}

.bloc6 {
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background:url("../img/accueil/encart_cta.png") no-repeat top center;
    position:relative;
    max-width:100%;
    height:500px;
    z-index:1;
    margin-top: 80px
}

.encart_title, .encart_1, .encart_2  {
    position:relative;
    color:white;
    z-index:10;
}

.encart_title {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

.encart_1, .encart_2 {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
}

.encart_bouton {
    margin-left: auto;
    margin-right: auto;
}


/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){
    body {
        font-family: 'Work Sans', sans-serif;
    }

    .bloc1 {
        height: 550px;
    }

    .grand_title {
        width: 100%
    }

    .grand_title > h1 {
        margin-top:-50px;
        font-size: 30px;
        text-align:center
    } 
    
    .piece_or {
        display:none;
    }

    .piece_or_mobile {
        display:block
    }

    .recup_mon_argent {
        min-height: 50px;
    }

    .bloc1bis {
        height: 750px;
        width:100%;
    }

    .comment_ca_marche .row {
        margin-top: 5px;
        width: 100%;
        min-height: 300px;
    }
    
    .texte_plus_avoir {
        width: 80%;
    }

    .texte_plus_avoir h2 {
        font-size: 27px
    }

    .assis {
        display:none
    }

    .assis_mobile {
        display:block;
        width: 230px;
        height:230px;
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .comment_ca_marche_button {
        margin-bottom : 10px
    } 

    .bloc2 {
        height: 1300px;
    }

    .sous_title > h2 {
        font-size: 26px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
    }
    
    .img_carre1 {
        background-image: url("../img/accueil/img_carre1.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center ;
        margin-bottom: 10px;
        height: 320px;
        width:320px;
        
    }
    
    .mr-4, .mx-4 {
        margin-left: 1.5rem !important;
    }
    
    .img_carre_bouton {
        margin-left: 5px;
    }

    .title_emoji > h4 {
        margin-top:20px;
        font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color:#2800dc;
    }
    
    .text_emoji > p {
        margin-top:20px;
        font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color:#2800dc;
    }

    .mission_hedee_button {
        width: 75%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .mission_hedee_button a img {
        width: 100%;
    }

    .bloc3 {
        height: 1350px
    }

    .version_pc {
        display:none
    }

    .version_mobile {
        display:block;
        width: 100%;
        margin-top: -20px;
    }

    .version_mobile p {
        margin-left:3px;
        margin-right:3px
    }

    .image1_tester, .image3_recuperer {
        margin-left:40px;
    }

    .version_mobile, .version_mobile_2  {
        margin-left: auto;
        margin-right:auto;
        text-align: center
    }

    .bloc5 {
        height: 520px
    }

    .partenaires > div {
        margin-right: 0;
        margin-bottom: 0
    }
    
    .bpi {
        display: none;
    }
    .bpi_mobile {
        display:block
    }

    .cci-paris {
        width:220px !important;
        height:120px !important
    }

    .pep {
        width:230px !important;
        height:230px !important
    }

    .bloc6 {
        height: 430px;
        margin-top: 0
    }

    .encart_title h3 {
        font-size: 23px
    }
    
    .encart_1, .encart_2 {
        line-height: 1;
    }

 }



/* **************  POUR TABLETTE  ********************* */
@media (min-width: 768px) and (max-width:991.98px){
    body {
        font-family: 'Work Sans', sans-serif;
    } 
    
    .bloc1 {
        height: 450px;
    }

    .piece_or > img {
        margin-top: 3%;
        margin-left: 15%
    }

    .grand_title {
        width:100%;
        margin-top: 25%;
    }

    .grand_title > h1 {
        color:#2800dc;
        font-size: 35px
    }

    .piece_or_mobile {
        display:none;
    }

    .recup_mon_argent {
        width: 100%;
        min-height: 300px;
    }

    .recup_mon_argent_button {
        margin-top: 2%;
        text-align:left
    }

    .bloc1bis {
        height: 450px;
        width:100%;
    }

    .comment_ca_marche .row {
        margin-top: 5px;
        width: 100%;
        min-height: 300px;
    }

    .texte_plus_avoir h2 {
        font-size: 27px
    }

    .bloc2 {
        height: 970px;
    }

    .sous_title > h2 {
        font-size: 27px
    }

    .img_carre1 {
        background-image: url("../img/accueil/img_carre1.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center ;
        height: 350px;
        width:350px;
    }

    .img_carre1 > .emoji {
        width:200px !important;
        height:200px !important
    }

    .img_carre_bouton {
        margin-left: 2px
    }

    .mission_hedee_button {
        width: 35%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .mission_hedee_button a img {
        width: 100%;
    }

    .bpi {
        margin-left: 18px;
        width:150px !important;
        height:150px !important

    }

    .cci-paris {
        width:150px !important;
        height:150px !important
    }

    .pep {
        width:170px !important;
        height:170px !important
    }

 }

/******** GRAND ECRAN ********/
@media (min-width: 1300px) { 
    .bloc1 {
        background-image: url("../img/parcours_decouverte/Groupe\ 268_gd.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center ;
        height: 659px;
        width:100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

 }